*,
html {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}

body {
    background-color: #F4EEE0;
}

a {
    color: #F4EEE0;
}

h1{
    font-size: 2.5rem;
}

h2{
    font-size: 2rem;
}


h3{
    font-size: 1.5rem;
}

h1,h2{
    color: #F4EEE0;
}

nav{
    display: flex;
    background-color: #F4EEE0;
    padding: 1vh;
    justify-content: center;
    align-items: center;
    position: sticky;;
    top: 80px;
    z-index: 1000;
}

nav ul {
    display: flex;
    background-color: #d3d3d3;
    font-size: 1.3rem;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    border-radius: 12px;
}

nav ul li{
    padding: 0 25vh;
}

nav ul :hover{
    background-color: #393646;
    color: #F4EEE0;
    border-radius:80px ;
    transition: all 0.3s ease;
}

header {
    background-color: #6D5D6E;
    background:linear-gradient(135deg, #6D5D6E 0%, #2b2d42 50%,  #6D5D6E 100%);
    color: #F4EEE0;
    padding: 2vh;
    display: flex;
    justify-content: center;
    align-items: start;
    position: sticky;
    top: 0;
    z-index: 1000;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #393646;
    width: 100%;
    padding: 2rem;
    
}

article {
    gap: 10vh;
}

article div{
    background-color: white;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

span {
    font-size: 1.2rem;
    line-height: 1.4;
}

.wrapper {
    display: flex;
    position: relative;
}

.sidebar {
    background:linear-gradient(135deg, #6D5D6E 0%, #2b2d42 100%);
    background-color: #6D5D6E;
    width: 200px;
    height: 90%;
    box-shadow: 2px 0 10px rgba(0,0,0,0.1);
    position: sticky;
    top: 111px;
    z-index: 999;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    min-width: 15vw;
    
}

.sidebar ul li a{
    display: block;
    padding: 5vh;
    font-size: 1rem;
}

.sidebar ul li :hover{
    background-color: #F4EEE0;
    color: #404258;
    transition: all 0.3s ease;
    transform: translateY(-2px);
}


#NavMufrodat,
#NavVocabulary {
    display: none;
}

#next img{
    position: absolute;
    cursor: pointer;
    right: 5vh;
    bottom: 10vh;
}

#back img{
    position: absolute;
    cursor: pointer;
    right: 11vh;
    bottom: 10vh;
}

#Mpage2, #Vpage2{
    display: none;
}

#default {
    color: #F4EEE0;
}
#default h2{
    margin-top: 20vh;
}
#Vmenu,#Mmenu{
    border-radius: 12px;
}

@media (max-width: 575px){
    h1{font-size: 2rem;}
    h2{font-size: 1.5rem;}
    h3{font-size: 1.25rem;}
    nav{
        top: 70px
    }
    nav ul li{
        padding: 0 5vh;
    }
    article{
        flex-direction: column;
    }

    .sidebar{
        min-height: 130vh;
    }

    .sidebar ul li a{
        font-size: 1.3rem;
    }

    #next img, #back img{
        bottom: 0;
    }
}

@media (max-width: 768px) and (min-width: 576px){
    h1{font-size: 3rem;}
    h2{font-size: 2.5rem;}
    h3{font-size: 2.25rem;}
    nav{
        top: 100px
    }
    nav ul li{
        padding: 0 5vh;
    }
    article{
        flex-direction: column;
    }

    article div{
        padding: 8vh;
    }

    article div span{
        font-size: 1.9rem;
    }

    .sidebar{
        min-height: 130vh;
        top: 140px;
    }

    .sidebar ul li a{
        font-size: 1.5rem;
    }

    #next img, #back img{
        bottom: 0;
    }
}