*,
html {
    padding: 0;
    margin: 0;
    text-decoration: none;
    overflow-x: hidden;
    box-sizing: border-box;
}

body {
    border-radius: 10px;
    background-color: #FFF5E4;
    margin: 4vh 5vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a {
    color: #FFF5E4;
}

button {
    color: #FFF5E4;
    background-color: #1b201e;
    border: none;
    width: 50vh;
    font-size: 2.5vh;
    cursor: pointer;
}

header {
    background-color: #C1D8C3;
    padding: 2vh;
    display: flex;
    justify-content: center;
}

nav {
    background-color: #1b201e;
    display: flex;
    justify-content: center;
    padding: 2px;
}

nav ul {
    display: flex;
    gap: 10vh;
    font-size: 3vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #C1D8C3;
    min-height: 70vh;
    width: 100%;
}

article {
    display: flex;
    gap: 10vh;
}

span {
    font-size: 3vh;
}

.wrapper {
    display: flex;
    position: relative;
    text-align: center;
}

.wrapper .sidebar {
    position: relative;
    background-color: #383f3c;
    width: 200px;
    height: 100%;
    max-height: fit-content;
}

.wrapper .sidebar ul {
    display: flex;
    flex-direction: column;
    min-height: 70vh;
    min-width: 15vh;
    
}

.sidebar ul li a{
    display: block;
    padding: 5vh;
}

.sidebar ul li :hover{
    background-color: #FFF5E4;
    color: #1b201e;
    transition: 500ms;
}

#NavMufrodat,
#NavVocabulary {
    display: none;
}
