


:root{
    --utama: #030303;
    --kedua: #123458;
    --ketiga: #D4C9BE;
    
    }
    *{
        padding: 0;
        margin: 0;
    
    }
    
    html{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        scroll-behavior: smooth;
    }
    
    body{
        background-color: #123458;
    }
    
    header{
        display: flex;
        position: sticky;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
        top: 0;
        padding: 0.5rem 1rem;
        background-color: var(--ketiga);
        justify-content: space-between;
    }
    
    header img{
        width: 40px;
        padding: 10px;
        background-color: white;
        border-radius: 100%;
        height: auto;
    }
    
    header div{
        display: flex;
        gap: 1rem;
        align-items: center;
        span{
            font-size: 2rem;
        }    
    }
    
    nav ul div button,input{
        padding: 0 0.5rem;
        border-radius: 4px;
    }
    
    nav ul div input{
        width: 100px;
    }
    
    nav{
        position: fixed;
        top: 0;
        left: -250px;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.8);
        padding: 1rem;
        background-color: var(--ketiga) ;
        min-height: 100vh;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        transition: left 0.3s ease; 
        
    }
    
    nav ul{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    
    nav ul a {
        list-style: none;
        color: black;
        text-decoration: none;
        padding: 1rem 0;
        transition: 0.3s;
    }
    
    
    
    nav ul span{
        font-size: 2rem;
    }
    
    .mainn{
        display: flex;
        background-color: var(--kedua);
        color: white;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        text-align: center;
        margin: 1rem 3rem;
        
    }
    
    .title{
        display: flex;
        flex-direction: column;
        padding-top: 10rem;
        align-items: center;
        text-align: center;
        background: linear-gradient(0deg, var(--kedua) 10%,var(--utama) 100% ) ;
        color: #D4C9BE;
        min-height: 100vh;
        font-size: 1.5rem;
    }
    
    .title button{
        margin-top: 1rem;
        padding: 0.2rem 1rem;
        border-radius: 8px;
        color: var(--ketiga);
        color: #030303;
    }
    
    .container{
        padding-top: 7rem;
        
    }
    .Mufrodat, .Vocabulary{
        display: flex;
        gap: 0.5rem;
        margin-top: 2rem;
        color: #030303;;
        margin-bottom: 10rem;
        flex-wrap: wrap;
    }
    
    section div{
        background-color: var(--ketiga);
        padding: 0.3rem;
        border-radius: 8px;
        width: 16rem;
        height: 23rem;
        min-width: 12rem;
        flex: 1 1 30px;
    }
    
    footer{
        background-color: var(--utama);
        text-align: center;
        color: var(--ketiga);
    }
    
    @media (max-width: 768px ){
        .mainn{
            flex-wrap: wrap;
        }
    }
    
    @media (max-width: 1072px) and ( min-width: 769px) {
        .Mufrodat, .Vocabulary{
            flex-direction: column;
        }
    }